{% for post in posts %}
    <p>-------------- {{ post.nbr }} commentaire{% if post.nbr > 1 %}s{% endif %} à modérer --------------</p>
    <div class="card col-8 my-2 cursor-click" onclick="onePostComment({{ post.id }})">
        <div class="card-body">
            <div class="d-flex flex-row align-items-center">
                <img src="/img/user/{{ post.avatar }}.png" class="me-3">
                <div class="d-flex flex-column justify-content-center">
                    <p class="mb-0">{{ post.firstname }} {{ post.lastname|slice(0, 1) }}</p>
                    <p class="mb-0">Posté le : {{ post.createdAt|date("d/m/Y") }}
                        à {{ post.createdAt|date("H:i", "Europe/Paris") }}</p>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <p class="d-flex align-items-center">{{ post.content }}</p>
                <div>
                    {% if post.image is not null %}
                        <img src="/img/post/{{ post.image }}" width="200px">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        Aucun commentaire en attente de modération actuellement
    </div>
{% endfor %}