{% extends "/layout/base.html.twig" %}

{% block header %}

    <div class="d-flex justify-content-center align-items-center flex-column">
        <nav class="bg-black text-white d-flex justify-content-between flex-row w-100 p-2 align-items-center">
            <div class="d-flex flex-row">
                {% if user == null %}
                    <ul class="m-0">
                        <a class="text-white text-decoration-none" href="http://localhost/Authentication/signup">Inscription</a>
                    </ul>
                    <ul class="m-0">
                        <a class="text-white text-decoration-none" href="http://localhost/Authentication/signin">Connexion</a>
                    </ul>
                {% else %}
                    <ul class="m-0">
                        <a class="text-white text-decoration-none" href="http://localhost/Post">Voir les articles</a>
                    </ul>
                    <ul class="m-0">
                        <a class="text-white text-decoration-none" href="http://localhost/Authentication/logout">Deconnexion</a>
                    </ul>
                {% endif %}
            </div>
            <div>
                <ul class="m-0">
                    <a class="text-white text-decoration-none" href="pdf/{{ cv }}" target="_blank">CV</a>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-row justify-content-center col-12 mt-2">
            <div class="col-3 d-flex flex-row-reverse">
                <img class="rounded-circle" width="50%" src="img/config/{{ image }}">
            </div>
            <div class="col-4 d-flex justify-content-center flex-column ms-2">
                <h1>{{ title }}</h1>
                <h2 class="h4">{{ catch_phrase }}</h2>
            </div>
        </div>
    </div>

{%endblock%}

{% block main %}

    <div class="d-flex justify-content-center mt-5">
        <div class="card col-8">
            <div class="card-body">
                {% for post in posts %}
                    <div class="row">
                        {{post.content}}
                        <hr>
                        <div class="d-flex flex-row-reverse">
                            Posté le : {{ post.created_at|date("d/m/Y") }} à {{ post.created_at|date("h:i", "Europe/Paris") }}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        Aucun post actuellement
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}