{% extends "/layout/base.html.twig" %}

{% block header %}
    <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center col-12 mt-2">
        <div class="col-3 d-flex flex-row-reverse justify-content-center justify-content-lg-start">
            <img class="rounded-circle" width="50%" height="50%" src="img/config/{{ image }}">
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center flex-column ms-2">
            <h1 class="text-center">{{ title }}</h1>
            <h2 class="h4 text-center">{{ catch_phrase }}</h2>
        </div>
    </div>
{% endblock %}

{% block main %}

    <div class="d-flex flex-column align-items-center mt-5">
        {% for post in posts %}
            <div class="card col-8 my-2 cursor-click" onclick="onePost({{ post.id }})">
                <div class="card-body">
                    <div class="d-flex flex-row align-items-center">
                        <img src="/img/user/{{ post.avatar }}.png" class="me-3">
                        <div class="d-flex flex-column justify-content-center">
                            <p class="mb-0">{{ post.firstname }} {{ post.lastname|slice(0, 1) }}</p>
                            <p class="mb-0">Posté le : {{ post.createdAt|date("d/m/Y") }}
                                à {{ post.createdAt|date("H:i", "Europe/Paris") }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <p class="d-flex align-items-center">{{ post.content }}</p>
                        <div>
                            {% if post.image is not null %}
                                <img class="imgPost" src="/img/post/{{ post.image }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                Aucun post actuellement
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}

    <script>
        function onePost(id) {
            window.location = "/Post/onePost/" + id;
        }
    </script>

{% endblock %}