{% extends "/layout/base.html.twig" %}

{% block main %}

    <div class="d-flex flex-column align-items-center mt-5">
        <a href="/Post/add">
            <button class="btn btn-primary">Ajouter un article</button>
        </a>
        {% for post in posts %}
            <div class="card col-8 my-2 cursor-click">
                <div class="card-body">
                    <div class="row">
                        <p onclick="onePost({{ post.id }})">
                        {{ post.content }}
                        </p>
                        <hr>
                        <div class="d-flex {% if post.image is not null %} justify-content-between {% else %} flex-row-reverse {% endif %}">
                            {% if post.image is not null %}
                            <a class="linkImage" onclick="showImage('{{ post.image }}')">Afficher l'image</a>
                            {% endif %}
                            Posté le : {{ post.created_at|date("d/m/Y") }}
                            à {{ post.created_at|date("H:i", "Europe/Paris") }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                Aucun post actuellement
            </div>
        {% endfor %}
    </div>

    <div id="modal" class="d-none">
        <div class="modal-content">
            <img id="imageModal" src="" width="500px">
        </div>
    </div>

    <div id="overlay" class="d-none" onclick="closeImage()"></div>

{% endblock %}

{% block script %}

    <script>
        function onePost(id) {
            window.location = "/Post/onePost/" + id;
        }

        function showImage(image) {
            console.log(image);
            $("#imageModal").attr('src', '/img/posts/' + image);
            $("#modal").removeClass('d-none');
            $("#overlay").removeClass("d-none");
        }

        function closeImage(){
            $("#modal").addClass('d-none');
            $("#overlay").addClass("d-none");
        }

        $("#close-modal-button").click(closeImage());
    </script>

{% endblock %}