{% extends "/layout/base.html.twig" %}

{% block main %}

    <div class="d-flex flex-column align-items-center mt-5">
        <div class="card col-8 my-2" onclick="onePost({{ post.id }})">
            <div class="card-body">
                <div class="row">
                    {{ post.content }}
                    <hr>
                    <div class="d-flex flex-row-reverse">
                        Posté le : {{ post.created_at|date("d/m/Y") }}
                        à {{ post.created_at|date("H:i", "Europe/Paris") }}
                    </div>
                </div>
                {% if user.user_id == post.user_id or user.level > 60 %}
                    <a href="/Post/deletePost/{{ post.id }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </a>
                    {% if post.publishedAt is null %}
                    <a href="/Post/publishedPost/{{ post.id }}">
                        <button class="btn btn-primary">Publier</button>
                    </a>
                    {% endif %}
                {% endif %}
                {% if user.user_id == post.user_id %}
                    <a href="/Post/updatePost/{{ post.id }}">
                        <button class="btn btn-primary">Modifier</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}